{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">People's Tree</h1>
      <p>People's Tree Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Ayanava
        Banerjee, Sudip Banik and Diptayan Dasgupta in 2021-22, the company initially focused on book sales, before
        expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

        The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal. as of March
        2022. </p>
      <p><a><button type="submit" class="btn btn-danger">Learn More »</button></a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      


      <div class="col-md-4">
        <h3>Ayanava Banerjee</h3>
        <p>Lead developer and project leader</p>
        <p><a><button type="submit" class="btn btn-danger">View Details »</button></a></p>
      </div>

      <div class="col-md-4">
        <h3>Sudip Banik</h3>
        <p>Lead tester and Project manager</p>
        <p><a><button type="submit" class="btn btn-danger">View Details »</button></a></p>
      </div>

      <div class="col-md-4">
        <h3>Diptayan Dasgupta</h3>
        <p>Developer and Project manager</p>
        <p><a><button type="submit" class="btn btn-danger">View Details »</button></a></p>
      </div>
      
      <div class="col-md-4">
        <h3>Aisik Pradhan</h3>
        <p>Tester</p>
        <p><a><button type="submit" class="btn btn-danger">View Details »</button></a></p>
      </div>
   
      <div class="col-md-4">
        <h3>Subho Dasgupta</h3>
        <p>Tester</p>
        <p><a><button type="submit" class="btn btn-danger">View Details »</button></a></p>
      </div>
   



  <hr>

  </div> <!-- /container -->

</main>





{% endblock %}